<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css">
    <title>Burger Wishlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/pulse/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/app.js"></script>
</head>

<body id="body">
    <nav class="navbar text-secondary bg-primary">
        <h1 class="navbar-brand">Burger Wishlist</h1>
        <form class="form-inline create-form">
            <input class="form-control mr-sm-2" name="name" id="newBurger" type="text" placeholder="Input Name!"
                required>
            <button class="btn btn-success my-2 my-sm-0 btn-add" type="submit">Add to Wishlist</button>
        </form>
    </nav>
    {{{ body }}}
</body>

</html>